<h2>Reactivos: <small>Dinámicos</small></h2>

<hr />

<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
  <!-- Nombre  -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre de la persona"
      />
      <span
        *ngIf="campoEsValido('nombre')"
        class="form-text text-danger"
      >
        Debe de ser de 3 letras
      </span>
    </div>
  </div>
  <!-- Agregar Favorito  -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group mb-3">
        <input
          class="form-control"
          [formControl]="nuevoFavorito"
          placeholder="Agregar juego favorito"
          (keyup.enter)="agregarFavorito()"
          type="text"

        />
        <button 
          class="btn btn-outline-primary" 
          (click)="agregarFavorito()"
          type="button">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos  -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favoritos">
      <div
      class="input-group mb-1"
        *ngFor="let favorito of favoritosArr.controls ; let i = index"
      >
        <input class="form-control"
               type="text"
              [formControlName]="i"
        />
        <button 
          type="button" 
          class="btn btn-danger"
          (click)="borrar(i)" 
          >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <button
        type="button"
        [disabled]="miFormulario.invalid"
        (click)="guardar()"
        class="btn btn-primary float-end"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<!-- 
<span>Persona</span>
<pre>
  {{ nombre | json }}
</pre> -->

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre
      [ngClass]="{
        'text-success': miFormulario.valid,
        'text-danger': !miFormulario.valid
      }"
    >
      {{ miFormulario.valid }}
    </pre>
    <span>Pristine</span>
    <pre
      [ngClass]="{
        'text-success': miFormulario.pristine,
        'text-danger': !miFormulario.pristine
      }"
    >
      {{ miFormulario.pristine }}
    </pre>
    <span>Touched</span>
    <pre
      [ngClass]="{
        'text-success': miFormulario.touched,
        'text-danger': !miFormulario.touched
      }"
    >
      {{ miFormulario.touched }}
    </pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Agregar Juego</span>
    <pre>{{ nuevoFavorito.valid | json }}</pre>
    <pre>{{ nuevoFavorito.value | json }}</pre>

  </div>
</div>



<!-- [(ngModel)]  : permite emitir el cambio del formulario  -->
